html {
  font-family: "Adobe Caslon", serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #e3d8d0;
}

header {
  background-color: #2c160d;
  width: 100%;
  height: 100px;
  text-decoration-color: #fff;
  margin: 0;
}

header .header {
  font-family: "Quiche Display";
  font-size: 34px;
  font-weight: lighter;
  color: #fff;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 8px;
}

* {
  text-decoration: none;
}

header nav ul {
  display: block;
  margin: 0 auto;
}

header nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 10px;
}

nav ul li a {
  font-size: 18px;
  color: #fff;
}

div p {
  text-align: center;
  font-size: .9375rem;
  font-family: "Adobe Caslon";
  color: #82624f;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 5px;
}

h1 {
  text-align: center;
  font-size: 2.1875rem;
  font-family: "Quiche Display";
  font-weight: lighter;
  color: #2c160d;
  margin: 0;
  padding-bottom: 20px;
}

img {
  display: block;
  width: 95%;
  border: .7rem solid #2c160d;
  align: center;
}

h2 {
  color: #2c160d;
  padding-bottom: 0;
  font-size: 1.5rem;
}

article p {
  padding-top: 0;
}

footer {
  width: calc(100% - 80px);
  padding: 20px 40px;
  margin-top: 40px;
  background-color: #2c160d;
}

footer ul {
  display: block;
  padding: .5rem;
  margin-left: 30px;
}

footer ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding-right: 8px;
}

footer ul li a {
  font-size: .9375rem;
  color: #fff;
}

small {
  display: block;
  text-align: center;
  font-size: .625rem;
  color: #fff;
  padding: 1rem;
  margin-top: 1rem;
}
